@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0 0 94%;
		--theme-link: 25deg 100% 50%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 45deg 89% 69%;
		--theme-accent-2: 25deg 100% 50%;
		--theme-quote: 220deg 18% 89%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 0 0 10%;
		--theme-link: 25deg 100% 50%;
		--theme-text: 0 0 65%;
		--theme-accent: 25deg 100% 50%;
		--theme-accent-2: 0 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 py-4 font-mono text-sm font-normal text-textColor antialiased lg:pt-12;
	}
}
