---
import { Image } from "astro:assets";
import type { WebmentionsChildren } from "@/types";

interface Props {
	mentions: WebmentionsChildren[];
}

const { mentions } = Astro.props;
const MAX_REPOSTS = 10;

const reposts = mentions.filter((mention) => mention["wm-property"] == "repost-of");
const repostsToShow = reposts
	.filter((repost) => repost.author?.photo && repost.author.photo !== "")
	.slice(0, MAX_REPOSTS);
---

{
	!!reposts.length && (
		<div>
			<p class="mb-0 text-accent-2">
				<strong>{reposts.length}</strong>
				{reposts.length > 1 ? " People" : " Person"} repostd this
			</p>
			{!!repostsToShow.length && (
				<ul class="flex list-none flex-wrap overflow-hidden ps-2" role="list">
					{repostsToShow.map((repost) => (
						<li class="-ms-2">
							<a
								href={repost.author?.url}
								class="not-prose relative inline-block overflow-hidden rounded-full outline-none ring-2 ring-textColor hover:z-10 hover:ring-4 hover:ring-link focus-visible:z-10 focus-visible:ring-4 focus-visible:ring-link"
								target="_blank"
								rel="noopener noreferrer"
								title={repost.author?.name}
							>
								<Image
									class="my-0 inline-block h-12 w-12"
									src={repost.author!.photo}
									alt={repost.author!.name}
									width={48}
									height={48}
								/>
							</a>
						</li>
					))}
				</ul>
			)}
		</div>
	)
}
