---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "i’m just a dumb gay dog who likes to code.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, i’m Christopher, we met before on the homepage. Anyway, this page is a little spartan
			right now as i figure out how to talk about myself without making my toes curl. Like i said
			before, i want to focus on this site being personal and not a portfolio site. i want to talk
			about web development, but i want to bifurcate my personal life from my professional life, so
			i plan to repurpose <a class="cactus-link inline-block" href="https://www.onebrightlight.com"
				>onebrightlight.com</a
			> as that portfolio/resume.
		</p>
		<p>
			Real fast because i don’t want this template to look <em>too</em> much like the starter theme:
		</p>
		<ul class="list-inside list-disc">
			<li>
				i’m <a href="https://www.cdc.gov/ncbddd/adhd/index.html" class="cactus-link inline-block"
					>ADHD</a
				> and am a huge proponent of stimulants as treatment
			</li>
			<li>In 2013, two days before my birthday, i was diagnosed with HIV</li>
			<li>i’m disastrously bisexual</li>
			<li>
				i’m <a
					href="https://www.teenvogue.com/story/what-is-agender"
					class="cactus-link inline-block">agender</a
				> and use they/them pronouns
			</li>
			<li>i live with my spouse and two cats</li>
			<li>
				i spend much of my weekends with my <a
					class="cactus-link inline-block"
					href="https://bsky.app/profile/chimeracoder.bsky.social">other partner/Sir</a
				>, also in New York
			</li>
			<li>i love public transit and will take it any chance i can</li>
			<li>i build mechanical keyboards and enjoy woodworking as hobbies</li>
		</ul>
	</div>
</PageLayout>
